/* Login.css */
.login-page {
    background-image: url('../Assets//Login.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #007bff; /* Customize the header background color */
    color: #fff; /* Customize the header text color */
    text-align: center;
    padding: 15px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .btn-block {
    width: 100%;
  }
  